/* Default/Wide Screen Version */ 
body { 
    font-family: 'Courier New', Courier, monospace; 
    background-color: black; 
    margin-left: 0; 
    margin-top: 0; 
    overflow: hidden;
}

.img-wrapper { 
    position: absolute; 
    top: 50%; left: 50%; 
    transform: translate(-50%, -50%); 
    max-width: 100vw; 
    max-height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    overflow: hidden; 
} 

.img-wrapper table {
    max-width: 100vw; 
    max-height: 100vh; 
    object-fit: contain; 
    transform-origin: center top; 
} 

.people03 {
    content: url("images4/11computer_03.jpg");
    transition: 0.1s ease;
}

.people03:hover {
    content: url("images4/11computer_03_2.jpg");
}

.people06 {
    content: url("images4/11computer_06.jpg");
    transition: 0.1s ease;
}

.people06:hover {
    content: url("images4/11computer_06_2.jpg");
}

.people09 {
    content: url("images4/11computer_09.jpg");
    transition: 0.1s ease;
}

.people09:hover {
    content: url("images4/11computer_09_2.jpg");
}

.people12 {
    content: url("images4/11computer_12.jpg");
    transition: 0.1s ease;
}

.people12:hover {
    content: url("images4/11computer_12_2.jpg");
}

.people15 {
    content: url("images4/11computer_15.jpg");
    transition: 0.1s ease;
}

.people15:hover {
    content: url("images4/11computer_15_2.jpg");
}

.scale-box {
    transform-origin: center;
}

.bg {
    position: absolute;
    top: 50%; left: 50%; 
    transform: translate(-50%, -50%); 
    width: 1240px; 
    height: 1016px; 
    display: fixed; 
    justify-content: center; 
    align-items: center; 
    z-index: -1000;
}

/* Phone Screen Version */ 
@media (max-width: 500px) {
    .scale-box {
        transform: scale(0.25);   /* REAL scaling happens here */
    }

    .bg {
        width: 310px;  
        height: 254px;
    }
}
